

.flyer-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
	margin: 0;
	padding: 0;
}


.infinity{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	list-style-type: none;
	padding: 0;
	cursor: url(../images/hand-cursor.png), auto !important;
}

@include keyframes(updown){
	0%{
		@include transform(translateY(0));
	}
	50%{
		@include transform(translateY(20px));
	}
	100%{
		@include transform(translateY(0));
	}
}


.flyer{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	background-size: contain !important;
	background-position: top left;
	background-repeat: repeat-x !important;
	background-attachment: fixed !important;
	.title{
		background-color: white;
		color: black;
		display: inline-block;
		padding: 10px;
		margin-left: 20px;
		font-weight: lighter;
		&:hover{
			background-color: black;
			color: white;
		}
	}
}