

.flyer-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
	margin: 0;
	padding: 0;
	// -webkit-overflow-scrolling: touch;
}

.loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 7;
	font-weight: lighter;
	color: black;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	img{
		width: 100px;
		height: auto;
		@media (max-width: $phone){
			width: 50px;
			height: auto;
		}
	}
	h2{
		margin-top: 30px;
		font-size: 0.8em;
	}
}

.animate-if.ng-enter, .animate-if.ng-leave{
	@include transition(all 0.5s linear);
}

.animate-if.ng-enter{
	opacity: 0;
}

.animate-if.ng-enter.ng-enter-active{
	opacity: 1;
}

.animate-if.ng-leave{
	opacity: 1;
}

.animate-if.ng-leave.ng-leave-active{
	opacity: 0;
}


.infinity{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	list-style-type: none;
	padding: 0;
	cursor: url(//d1b56a2nqp2zss.cloudfront.net/hand-cursor.png), auto !important;
}

@include keyframes(updown){
	0%{
		@include transform(translateY(0));
	}
	50%{
		@include transform(translateY(20px));
	}
	100%{
		@include transform(translateY(0));
	}
}


.flyer{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	background-size: contain !important;
	background-position: top left;
	background-repeat: repeat-x !important;
	background-attachment: fixed !important;
	@media (max-width: $tab){
		background-attachment: scroll !important;
		background-size: contain !important;
		background-position: center center;
	}
	@media (max-width: $phone){
		background-attachment: scroll !important;
		background-size: contain !important;
	}
	&.last{
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		height: 50px !important;
		//account for footer
		margin-bottom: 50px;
		background-color: yellow;
	}
	
	.title{
		background-color: black;
		color: white;
		display: inline-block;
		padding: 10px;
		margin-left: 20px;
		max-width: 50%;
		font-size: 3em;
		line-height: 1;
		font-weight: lighter;
		&:hover{
			background-color: white;
			color: black;
		}
		@media (max-width: $phone){
			font-size: 1.2em;
			margin-top: 40px;
		}
	}
}