
.flyer{
	position: relative;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	background-size: contain !important;
	background-position: top left;
	background-repeat: repeat-x !important;
	background-attachment: fixed !important;
	.title{
		background-color: black;
		color: white;
		display: inline-block;
		padding: 10px;
		margin-left: 20px;
	}
}