html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Open Sans Condensed', 'Helvetica Neue', helvetica, sans-serif;
}

ng-view, .ng-scope{
	width: 100%;
	height: 100%;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer !important;
}

//disable scrollbar on webkit
::-webkit-scrollbar { 
    display: none; 
}


.alert{
	width: 100%;
	height: 100%;
	position: fixed;
	background: red;
	color: black;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
}