.intro{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../images/flyer-collage.jpg) no-repeat center center;
	background-size: cover;
	color: white;
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	.intro-text{
		width: 70%;
		height: 75%;
		position: relative;
		background: rgba(0,0,0,0.9);
		text-align: center;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		img{
			width: 50%;
			height: auto;
		}
	}
	h1,p{
		max-width: 60%;
	}
	h1{
		font-size: 3em;
		font-family: 'HelveticaRounded';
	}
	p{
		font-size: 1.2em;
		margin-top: 20px;
		line-height: 1.5;
		a{
			color: white;
		}
		em{
			font-size: 0.75em;
		}
	}
	a.go{
		margin-top: 48px;
		padding: 10px;
		border: 1px solid white;
		box-sizing: border-box;
		color: white;
		text-decoration: none;
		font-size: 1.5em;
		width: 100px;
		vertical-align: bottom;
		text-align: center;
		&:hover{
			background: white;
			color: black;
		}
	}

	.button-wrap {
		margin-bottom: 3em;
	}

	.button {
		background: none;
		border: none;
		width: 150px;
		height: 75px;
		outline: none;
		position: relative;
		margin: 1em;
		padding: 0;
		@include user-select(none);
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent; /* For some Androids */
		-webkit-touch-callout: none;
	}


	.button__text {
		display: block;
		padding: 10px;
		text-align: center;
		position: relative;
		z-index: 100;
		font-size: 1.5em;
		color: black;
		font-weight: bold;
		@include user-select(none);
		-webkit-touch-callout: none;
	}

	.morph-shape {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.button--line .morph-shape svg {
		fill: none;
		stroke: #fff;
		stroke-width: 4px;
		stroke-linecap: round;
	}

	.button--fill .morph-shape svg {
		fill: white;
	}

}


