@include keyframes(color){
	0%{
		color: $pink;
	}
	33%{
		color: $yellow;
	}
	66%{
		color: $green;
	}
	100%{
		color: $purple;
	}
}

@include keyframes(bounce){
	0%{
		opacity: 1;
	}

	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.intro{
	@include display(flex);
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(center);
	font-family: 'HelveticaRounded';
	cursor: auto !important;
	color: black;
	background: rgba(255,255,255,1);
	p{
		font-weight: lighter;
		font-family: 'Karla';
		max-width: 80%;
		@media (max-width: $phone){
			font-size: 0.8em;
			max-width: 90%;
		}
	}
	a{
		font-size: 3em;
		color: black;
		text-decoration: none;
		@include animation(bounce 1s infinite alternate-reverse);
	}
}

.intro-title{
	text-align: center;
	font-size: 10em;
	color: $pink;
	line-height: 1;
	margin: 0;
	@include user-select(none);
	@include animation(color 5s infinite alternate-reverse);
	@media (max-width: $phone){
		font-size: 3em;
	}
}



