.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	background-size: cover;
	.exit{
		height: 33px;
		width: 33px;
		z-index: 9999;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 1em;
		display: block;
		cursor: pointer !important;
		&:before, &:after{
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			height: 2px;
			width: 100%;
			@include transition(all .3s ease);
		}
		&:before{
			bottom: 50%;
			@include transform(rotate(45deg));
			background-color: white;
		}
		&:after{
			bottom: 50%;
			@include transform(rotate(-45deg));
			background-color: white;
		}
	}
	.modal-image-wrapper{
		width: 100%;
		height: 100%;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		.loading-spinner{
			position: absolute;
			left: 50%;
			top: 50%;
			.fa{
				color: white;
				font-size: 1.5em;
				position: relative;
				left: -50%;
				top: -50%;
				@include transform(translateZ(0));
			}
		}

		.arrows{
			position: absolute;
			top: 50%;
			width: 100%;
			.arrow{
				color: white;
				display: inline-block;
				position: relative;
				z-index: 999999999;
				font-size: 3em;
				top: -50%;
				width: 100px;
				height: 50px;
				@include transition(transform .2s linear);
				&.left{
					float: left;
					text-align: center;
				}
				&.right{
					float: right;
					text-align: center;
				}
				&:hover{
					@include transform(scale(1.5));
				}
			}
		}
		
		
		

		.modal-image{
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
			right: 0;
			text-align: center;

			.modal-title{
				position: absolute;
				left: 20px;
				color: white;
				font-size: 2em;
				margin: 0;
				line-height: 1;
				top: 20px;
				font-weight: normal;
				@include transform(translateX(-3000px));
				&.active{
					@include transform(translateX(0));
				}
				@media (max-width: $phone){
					display: none;
				}
			}

			.image-box{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include display(flex);
				@include justify-content(center);
				@include align-items(center);
				@include transform(translateX(-3000px));
				img{
					position: relative;
					width: 60%;
					height: auto;
					@include backface-visibility(hidden);
					box-shadow: 5px 5px 10px black !important;
					@media (max-width: $tab){
						width: 90%;
						@media (orientation: landscape){
							width: 80%;
						}
					}
					@media (max-width: $phone){
						width: 90%;
						@media (orientation: landscape){
							height: 70%;
							width: auto;
						}
					}
				}
				&.active{
					@include transform(translateX(0));
				}
			}	
		}
	}
}



.animate-show{
	&.ng-hide-add, &.ng-hide-remove{
		@include transition(all .5s linear);
	}
	&.ng-hide-add.ng-hide-add-active, &.ng-hide-remove{
		opacity: 0;
	}
	&.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active{
		opacity: 1;
	}
}