.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: blue;
	.exit{
		position: absolute;
		top: 20px;
		right: 20px;
		background: red;
		i{
			font-size: 2em;
		}

	}
}