// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

@font-face {
    font-family: 'clan';
    src: url('../fonts/clanpro-narrultra-webfont.eot');
    src: url('../fonts/clanpro-narrultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clanpro-narrultra-webfont.woff2') format('woff2'),
         url('../fonts/clanpro-narrultra-webfont.woff') format('woff'),
         url('../fonts/clanpro-narrultra-webfont.ttf') format('truetype'),
         url('../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'HelveticaRounded';
	src: url('../fonts/2CDD6E_0_0.eot');
	src: url('../fonts/2CDD6E_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CDD6E_0_0.woff2') format('woff2'),url('../fonts/2CDD6E_0_0.woff') format('woff'),url('../fonts/2CDD6E_0_0.ttf') format('truetype');
}

/* Webfont: MaisonNeue-Medium */@font-face {
    font-family: 'Maison';
    src: url('../fonts/MaisonNeue-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MaisonNeue-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MaisonNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: MaisonNeue-Bold */@font-face {
    font-family: 'Maison';
    src: url('../fonts/MaisonNeue-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MaisonNeue-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MaisonNeue-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MaisonNeue-Bold.svg#MaisonNeue-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}




$tab: 1024px;
$phone: 767px;
$widescreen: 1500px;

@import "_colors.scss";
@import "_globals.scss";
@import "_intro.scss";
@import "_about.scss";
@import "_navi.scss";
@import "_flyer.scss";
@import "_modal.scss";
