<section class="modal">


	<div class="exit" ng-click="modal.closeModal()">
		<i class="fa fa-close"></i>
	</div>


	<div class="modal-image-wrapper">
		
		<div class="loading-spinner">
			<i class="fa fa-circle-o-notch fa-spin"></i>
		</div>
		
		<div class="arrows">
			<i class="arrow right fa fa-angle-right" ng-click="modal.advance()"></i>
			<i class="arrow left fa fa-angle-left" ng-click="modal.rewind()"></i>
		</div>
		
		<div class="modal-image">
			<div class="image-box" ng-repeat="image in modalImages">
				<img src data-order="{{$index}}" data-img="{{image}}" zoom-load />
				<h2 class="modal-title">Page {{$index + 1}}</h2>
			</div>
		</div>




	</div>
</section>

 