<section class="navi-open">
	<ul>
		<a href="" ng-click="go('/page1')"><li>Issue 1 - Issue 23</li></a>
		<a href="" ng-click="go('/page2')"><li>Issue 24 - Issue 43</li></a>
		<a href="" ng-click="go('/page3')"><li>Issue 44 - Issue 65</li></a>
		<a href="" ng-click="go('/page4')"><li>Issue 66 - Issue 85</li></a>
		<a href="" ng-click="go('/page5')"><li>Issue 86 - Issue 106</li></a>
		<a href="" ng-click="go('/page6')"><li>Issue 108 - Issue 127</li></a>
		<a href="" ng-click="go('/page7')"><li>Issue 128 - Issue 147</li></a>
		<a href="" ng-click="go('/page8')"><li>Issue 148 - Issue 170</li></a>
		<a href="" ng-click="go('/page9')"><li>Issue 171 - Issue 188</li></a>
		<a href="" ng-click="go('/about')"><li class="about-list">About Yellow</li></a>
		<a class="lowercase" href="http://www.redbullmusicacademy.com" target="self">
			<li class="lowercase nav-logo">
				<img src="images/rbma.svg" alt="RBMA logo" />
			</li>
		</a>
	</ul>
</section>