<section class="navi-open">
	<ul>
		<a href="" ng-click="go('/about')"><li>ABOUT</li></a>
		<a href="" ng-click="go('/page1')"><li>Issue 1 (Sep 1992) - Issue 23 (Jul 1994)</li></a>
		<a href="" ng-click="go('/page2')"><li>Issue 24 (Aug 1994) - Issue 43 (Mar 1996)</li></a>
		<a href="" ng-click="go('/page3')"><li>Issue 44 (Apr 1996) - Issue 65 (Jan 1998)</li></a>
		<a href="" ng-click="go('/page4')"><li>Issue 66 (Feb 1998) - Issue 85 (Sep 1999)</li></a>
		<a href="" ng-click="go('/page5')"><li>Issue 86 (Dec 1999) - Issue 106 (Sep 2001)</li></a>
		<a href="" ng-click="go('/page6')"><li>Issue 108 (Nov 2001) - Issue 127 (Jun 2003)</li></a>
		<a href="" ng-click="go('/page7')"><li>Issue 128 (Jul 2003) - Issue 147 (Feb 2005)</li></a>
		<a href="" ng-click="go('/page8')"><li>Issue 148 (Mar 2005) - Issue 170 (Dec 2006)</li></a>
		<a href="" ng-click="go('/page9')"><li>Issue 171 (Jan 2007) - Issue 182 (Dec 2007)</li></a>
		<a class="lowercase" href="http://www.redbullmusicacademy.com" target="self"><li class="lowercase">redbullmusicacademy.com</li></a>
	</ul>
</section>