<section class="navi-open">
	<a href="http://www.redbullmusicacademy.com" target="self">
		<div class="logo"></div>
	</a>
	<ul>
		<a href="" ng-click="go('/about')"><li>ABOUT</li></a>
		<a href="" ng-click="go('/page1')"><li>Issue 1 (September 1992) - Issue 23 (July 1994)</li></a>
		<a href="" ng-click="go('/page2')"><li>Issue 24 (August 1994) - Issue 43 (March 1996)</li></a>
		<a href="" ng-click="go('/page3')"><li>Issue 44 (April 1996) - Issue 65 (January 1998)</li></a>
		<a href="" ng-click="go('/page4')"><li>Issue 66 (February 1998) - Issue 85 (September 1999)</li></a>
		<a href="" ng-click="go('/page5')"><li>Issue 86 (December 1999) - Issue 106 (September 2001)</li></a>
		<a href="" ng-click="go('/page6')"><li>Issue 108 (November 2001) - Issue 127 (June 2003)</li></a>
		<a href="" ng-click="go('/page7')"><li>Issue 128 (July 2003) - Issue 147 (February 2005)</li></a>
		<a href="" ng-click="go('/page8')"><li>Issue 148 (March 2005) - Issue 170 (December 2006)</li></a>
		<a href="" ng-click="go('/page9')"><li>Issue 171 (January 2007) - Issue 182 (December 2007)</li></a>
		<a class="lowercase" href="http://www.redbullmusicacademy.com" target="self"><li class="lowercase">redbullmusicacademy.com</li></a>
	</ul>
</section>