<section class="intro">

	<div class="intro-text">

		<!-- <img src="images/yellow-logo.svg" /> -->

		<h1 class="intro-title">YELLOW FLYERS</h1>

		<p>When Tokyo’s legendary Space Lab Yellow opened in 1992, it published booklets each month with lineups, interviews and more. What follows is an (almost) complete collection of these artifacts, up until the club closed in 2008.</p>

		<p>To find out more about Space Lab Yellow, click to read Yuko Asanuma’s extensive feature on the club in Red Bull Music Academy’s web magazine in <a href="http://www.google.com" target="self">Japanese</a> or <a href="http://www.google.com" target="self">English</a>.</p>

		<button-bounce></button-bounce>

	</div>

</section>


