<section class="intro">

	<div class="intro-text">

		<img src="images/yellow-logo.svg" />

		<p>When Tokyo’s legendary Space Lab Yellow opened in 1992, it published booklets each month to promote the club. What follows is an (almost) complete collection of these club artifacts – from Issue 1 in September 1992 to Issue 182 in December 2007.</p>

		<p>Click on the cover of each one to look inside and find out more about why Yellow was regarded as one of the world’s most important homes to house and techno – and so beloved by international DJs like Derrick May, Carl Craig, Francois K, Frankie Knuckles, Giles Peterson, John Digweed, and many, many more.</p>

		<p>To find out more about Space Lab Yellow, click to read Yuko Asanuma’s extensive feature on the club in <a href="http://www.google.com" target="self">Japanese</a> or <a href="http://www.google.com" target="self">English</a>.</p>

		<a class="go" href="#page1">CHECK THE FLYERS</a>

		<p><em>Special thanks to Yellow’s Yuko Ichikawa for providing these flyers to us to scan.</em></p>
	</div>



</section>