<section ng-if="loading" class="alert"><h1>Loading</h1></section>

<div class="container">

	<section class="flyer-wrapper">


		<nav ng-show="!modal.open">
			<ul class="nav-list">
				<li ng-repeat="page in pages">
					<a ng-href="#{{page.pageHash}}">Page {{$index + 1}}</a>
				</li>
			</ul>
		</nav>


		<ul class="infinity">
			<li ng-show="introPage" class="flyer intro-flyer"><h1>YO</h1></li>
			<!--opening modal with image index set to 0 aka first item-->
			<li ng-repeat="flyer in flyers" id="flyer{{$index + 1}}" class="flyer" style="background:url({{image.full(flyer.mainimagelink)}})" ng-click="modal.openModal(0, $index)" when-scrolled>
				<h1 class="title"><strong>{{flyer.title}}</strong> / {{flyer.date}} / {{flyer.djs}}</h1>

			</li>
		</ul>
	  	<modal-box ng-show="modal.open"></modal-box>
	</section>
</div>