<div class="container">

	<div ng-if="!mobile" class="mobile-container" ng-include="'views/_mobile.html'"></div>

	<section ng-if="mobile" class="flyer-wrapper">
		<!-- Once flyer data comes in, drop loader -->
		<div class="loading" ng-if="!flyers">
			<img src="images/yellow-square1.jpg" class="fa-spin" />
			<h2>Loading Flyers...</h2>
			<!-- <h1 class="fa fa-circle-o-notch fa-spin animate-if"></h1> -->
		</div>

		<ul class="infinity">
			<li class="flyer intro" ng-if="displayIntro">
					<h1 class="intro-title">YELLOW</h1>
					<h1 class="intro-title">FLYERS</h1>
					<p>A visual collection of the Japanese club's ?</p>
					<p><a href="#top" du-smooth-scroll class="fa fa-angle-down"></a></p>
			</li>
			<div id="top"></div>
			<li ng-repeat="flyer in flyers" id="flyer{{$index + 1}}" class="flyer" style="background:url({{flyer.mainimagelink}})" ng-click="modal.openModal(0, $index)">
				<h1 class="title"><strong>{{flyer.title}}</strong> / {{flyer.date}} / {{flyer.djs}}</h1>
			</li>
			<li class="flyer last" next-page>
				<h1 ng-click="prevPage()" ng-show="showPrev"><span class="arrow">&#9664;</span> {{prevMessage}}</h1>
				<h1 ng-show="showPrev && showNext">/</h1>
				<h1 ng-click="nextPage()" ng-show="showNext">{{nextMessage}} <span class="arrow">&#9654;</span></h1>

			</li>
		</ul>

	  	<modal-box ng-show="modal.open"></modal-box>
	</section>
</div>
